.body {
  font-family: "Roboto", "Karla", sans-serif;
  margin: 0 10%;
}

.container {
  border: 2px solid #a2a2a6;
  padding: 10px;
  margin: 10px auto;
}

.lime {
  background-color: #D6FF33;
}

.cyan {
  background-color: #33FFC2;
}

.violet {
  background-color: #5C33FF;
  color: #fff;
}

.rose {
  background-color: #FF3370;
}

.lime, .cyan, .violet, .rose {
  text-align: center;
  margin: 20px auto;
  width: 32%;
  min-height: 100px;
  display: inline-block;
}

.color-containers {
  width: 100%;
}

div {
  display: block;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.karla {
  font-family: "Karla", sans-serif;
}

.assistant {
  font-family: "Assistant", sans-serif;
}

.font-title {
  text-decoration: underline;
  font-size: 20px;
}

.regular {
  font-style: regular;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.roboto, .karla, .assistant {
  display: inline-block;
  width: 45%;
}

.h1 h1 {
  font-weight: 700;
  font-size: 26px;
  font-family: "Roboto", sans-serif;
}

.h2 h2 {
  font-weight: 500;
  font-size: 18px;
  font-family: "Karla", sans-serif;
}

.h1, .h2, .p li {
  font-weight: 400;
  font-size: 14px; 
  font-family: "Karla", sans-serif;
}
h1, h2 {
  font-weight: 700;
  font-family: "Robot", sans-serif;
}